In [2]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import stopwords
from nltk.corpus import wordnet as wn
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from collections import defaultdict
nltk.download('wordnet')
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_recall_fscore_support as score

[nltk_data] Downloading package wordnet to
[nltk_data]     /home/manaswini/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [3]:
train_data1 = pd.read_csv('train.csv')
test_data1 =  pd.read_csv('test.csv')

train_data = train_data1[:2000]
test_data = test_data1[:2000]
train_data.shape

(2000, 3)

In [4]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   3                                                                                                                                2000 non-null   int64
 1   Fears for T N pension after talks                                                                                                2000 non-null   object
 2   Unions representing workers at Turner   Newall say they are 'disappointed' after talks with stricken parent firm Federal Mogul.  2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   3                                                                                               2000 non-null   int64
 1   Wall St. Bears Claw Back Into the Black (Reuters)                                               2000 non-null   object
 2   Reuters - Short-sellers, Wall Street's dwindling\band of ultra-cynics, are seeing green again.  2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

In [6]:
train_data.head()

,3,Wall St. Bears Claw Back Into the Black (Reuters),"Reuters - Short-sellers, Wall Street's dwindling\band of ultra-cynics, are seeing green again."
0,3,Carlyle Looks Toward Commercial Aerospace (Reu...,Reuters - Private investment firm Carlyle Grou...
1,3,Oil and Economy Cloud Stocks' Outlook (Reuters),Reuters - Soaring crude prices plus worries\ab...
2,3,Iraq Halts Oil Exports from Main Southern Pipe...,Reuters - Authorities have halted oil export\f...
3,3,"Oil prices soar to all-time record, posing new...","AFP - Tearaway world oil prices, toppling reco..."
4,3,"Stocks End Up, But Near Year Lows (Reuters)",Reuters - Stocks ended slightly higher on Frid...

In [8]:
from wordcloud import WordCloud

In [9]:
# check the dataframe for missing values
train_data.isnull().sum()

3                                                                                                 0
Wall St. Bears Claw Back Into the Black (Reuters)                                                 0
Reuters - Short-sellers, Wall Street's dwindling\band of ultra-cynics, are seeing green again.    0
dtype: int64

In [10]:

train_data_source = 'train.csv'
test_data_source = 'test.csv'

train_df = pd.read_csv(train_data_source, header=None)
test_df = pd.read_csv(test_data_source, header=None)

train_df1 = train_df[:4000]


for df in [train_df1]:
    df[1] = df[1] + df[2]
    df = df.drop([2], axis=1)

# convert text_string to lower case 
train_texts = train_df1[1].values[:2000]
train_texts = [s.lower() for s in train_texts] 


df.head()
df.shape

/tmp/ipykernel_28611/2596581468.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1] = df[1] + df[2]

(4000, 2)

In [11]:

train_data_source = 'train.csv'
test_data_source = 'test.csv'

train_df = pd.read_csv(train_data_source, header=None)
test_df = pd.read_csv(test_data_source, header=None)

test_df1 = test_df[:4000]
for tf in [test_df1]:
    tf[1] = tf[1] + tf[2]
    tf = tf.drop([2], axis=1)

# convert text_string to lower case 
test_texts = test_df1[1].values
test_texts = [s.lower() for s in test_texts] 

tf.head()
tf.shape

/tmp/ipykernel_28611/401252660.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tf[1] = tf[1] + tf[2]

(4000, 2)

In [12]:
df.shape

(4000, 2)

In [14]:
import nltk
nltk.download('omw-1.4')
# Removing all empty spaces
df[1].dropna(inplace=True) 
df[2] = df[1]
# Converting the given text into lower letter
df[1] = [entry.lower() for entry in df[1]]
# Removing all given stop words, special characters and numbers
# xy is considered to be one tag map
xy = defaultdict(lambda : wn.NOUN)
xy['J'] = wn.ADJ
xy['V'] = wn.VERB
xy['R'] = wn.ADV

df.head()

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /home/manaswini/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

,0,1,2
0,3,wall st. bears claw back into the black (reute...,Wall St. Bears Claw Back Into the Black (Reute...
1,3,carlyle looks toward commercial aerospace (reu...,Carlyle Looks Toward Commercial Aerospace (Reu...
2,3,oil and economy cloud stocks' outlook (reuters...,Oil and Economy Cloud Stocks' Outlook (Reuters...
3,3,iraq halts oil exports from main southern pipe...,Iraq Halts Oil Exports from Main Southern Pipe...
4,3,"oil prices soar to all-time record, posing new...","Oil prices soar to all-time record, posing new..."

In [15]:
from nltk import pos_tag
from sklearn import model_selection, naive_bayes, svm
from sklearn.preprocessing import LabelEncoder
from nltk.corpus import stopwords

In [16]:
train_data_X, test_data_X, train_data_Y, test_data_Y = model_selection.train_test_split(df[1],df[1],test_size=0.3)

In [17]:
Labelenc = LabelEncoder()
train_data_Y = Labelenc.fit_transform(train_data_Y)
test_data_Y = Labelenc.fit_transform(test_data_Y)

In [18]:
termfrequencyvector = TfidfVectorizer(max_features=50)
termfrequencyvector.fit(df[1])
train_data_X_tfv = termfrequencyvector.transform(train_data_X)
test_data_Y_tfv = termfrequencyvector.transform(test_data_X)

print(termfrequencyvector.vocabulary_)

{'the': 37, 'reuters': 34, 'of': 29, 'are': 5, 'has': 17, 'for': 13, 'and': 3, 'in': 20, 'its': 24, 'on': 31, 'oil': 30, 'prices': 33, 'to': 40, 'over': 32, 'from': 14, 'have': 18, 'after': 1, 'an': 2, 'said': 35, 'new': 28, 'us': 44, 'up': 43, 'but': 9, 'year': 49, 'as': 6, 'inc': 21, 'ap': 4, 'by': 10, 'company': 11, 'is': 22, 'at': 7, 'his': 19, 'was': 45, 'more': 27, 'that': 36, 'google': 15, 'with': 48, 'their': 38, 'be': 8, 'it': 23, 'will': 47, 'two': 42, 'this': 39, 'first': 12, 'tuesday': 41, 'wednesday': 46, 'monday': 26, 'lt': 25, 'gt': 16, '39': 0}

In [19]:
print(train_data_X_tfv)

  (0, 47)	0.27920433542839157
  (0, 43)	0.2874278511504967
  (0, 40)	0.24719986133203295
  (0, 38)	0.5981690697642243
  (0, 34)	0.21341272475358797
  (0, 31)	0.4727587207771528
  (0, 26)	0.3031675951450507
  (0, 23)	0.2440487084419631
  (1, 40)	0.15912608288879238
  (1, 37)	0.3912090237792299
  (1, 35)	0.2970425197454637
  (1, 34)	0.2747536406021591
  (1, 32)	0.37969231832558736
  (1, 31)	0.2028810290950228
  (1, 29)	0.1697288369761261
  (1, 14)	0.31214681326452065
  (1, 12)	0.37762268690095435
  (1, 6)	0.2905266323188102
  (1, 1)	0.34544966413923855
  (2, 37)	0.13736977788227386
  (2, 34)	0.14471616560855724
  (2, 33)	0.4401564765035196
  (2, 31)	0.21371993136107784
  (2, 30)	0.677659102443207
  (2, 29)	0.08939829305465392
  :	:
  (2796, 19)	0.3003595373304732
  (2796, 17)	0.26851807181195186
  (2796, 13)	0.19046223864104336
  (2796, 2)	0.27199914706962364
  (2797, 37)	0.34146696391285974
  (2797, 35)	0.38891053582042007
  (2797, 31)	0.2656271896722238
  (2797, 29)	0.2222218320431885
  (2797, 28)	0.41385212460839566
  (2797, 20)	0.4495458505342955
  (2797, 18)	0.48871618387232346
  (2798, 37)	0.43218178843888955
  (2798, 34)	0.2276472024375145
  (2798, 31)	0.16809713094212222
  (2798, 29)	0.28125774658277225
  (2798, 20)	0.1422432842718381
  (2798, 12)	0.312879378273338
  (2798, 7)	0.7320563026510973
  (2799, 40)	0.2703026199784553
  (2799, 30)	0.7284928830998381
  (2799, 27)	0.3151043530764852
  (2799, 24)	0.2535199107647309
  (2799, 22)	0.25760602685936596
  (2799, 20)	0.14581150639862736
  (2799, 13)	0.38085384854462945

In [22]:
train_data_Y.shape

(2800,)

In [1]:
nb = naive_bayes.MultinomialNB()
nb.fit(train_data_X_tfv, train_data_Y)
pred_nb = nb.predict(test_data_Y_tfv)
print("accuracy score using SVM-Naive Baye's",accuracy_score(pred_nb, test_data_Y))

Accuracy Score using SVM-Naive Baye's is 0.331629867